:root{
  --light-blue: #8ECAE6;
  --orange: #F5841F;
  --dark-blue: #16213C;
  --svetlounce-modra: #F1F9FC;
  --bila: #FFFFFF;
  --sediva: #FAFAFA;
}
.hamburger {
  --rotate-time: 0.15s;
  --move-time: 0.1s;
  display: block;
  width: 60px;
  height: 45px;
  position: relative;
}

.hamburger span {
  position: absolute;
  height: 9px;
  width: 100%;
  background: #000000;
  border-radius: 4.5px;
  left: 0;
}

.hamburger span:nth-child(1) {
  top: 0px;
  transition: 1s;
}

.hamburger span:nth-child(2) {
  top: 18px;
  transition: 1s;
  
}

.hamburger span:nth-child(3) {
  bottom: 0px;
  transition: 1s;
}

.hamburger-nav {
  transform: scaleY(0);
  transition: 1s;
  transform-origin: top;
  position: absolute;
  background-color: var(--svetlounce-modra);
  width: 100vh;
  
}
.nav-menu{
  padding: 0 ;
  margin: 0 ;
}
.hamburger-row {
  padding: 1em;
  
  display: flex;
  justify-content: flex-end;
}


.hamburger-nav ul {
  margin: 0;
  padding: 0;
}
.hamburger-nav li {
  display: block;
  padding: 0.25em 1em;
}

@media screen and (max-width: 639px) {
  
  .hamburger-nav.active {
    transform: scaleY(1);
  }
  .hamburger.active span:nth-child(1) {
    transform: translateY(18px) rotate(45deg);
  }
  .hamburger.active span:nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: translateY(-18px) rotate(-45deg);
  }
}


@media screen and (min-width: 640px) {
  .hamburger-row {
      display: none;
  }

  .hamburger-nav {
      transform: none;
      position: absolute;
  }

  
}