:root{
  --light-blue: #8ECAE6;
  --orange: #F5841F;
  --dark-blue: #16213C;
  --svetlounce-modra: #F1F9FC;
  --bila: #FFFFFF;
  --sediva: #F5F5F5;
}
.logo {
  
  padding: 1em;
}
.header-kontaktik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--sediva);
  font-size: 14px;
  font-weight: bold;
}
.kontaktik-leva{
  display: flex;
  
}
.top{
  position: relative;
}
.kontaktik-dilek{
  padding: 1em;
}
.dilek-poddilek{
  display: flex;
  margin: 0.5em;
  display: flex;
  align-items: center
  ;
}

.button{
  background-color: var(--orange);
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  color: var(--bila);
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
}


@media screen and (max-width: 829px) {
  .header-kontaktik {
    display: none;
  }
  
}

@media screen and (min-width: 830px) {
  
}
