:root {
  --light-blue: #8ecae6;
  --orange: #f5841f;
  --dark-blue: #16213c;
  --svetlounce-modra: #f1f9fc;
  --bila: #ffffff;
  --sediva: #f5f5f5;
}
.logo {
  padding: 1.5em;
}
.header-kontaktik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--sediva);
  font-size: 14px;
  font-weight: bold;
}
.kontaktik-leva {
  display: flex;
}
.top {
  position: relative;
}
.kontaktik-dilek {
  padding: 1em;
}
.dilek-poddilek {
  display: flex;
  margin: 0.5em;
  display: flex;
  align-items: center;
}

.button {
  background-color: var(--orange);
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  color: var(--bila);
  font-weight: bold;
  font-size: 16px;
  white-space: nowrap;
  margin: 0.5em;
}
.section-1__list {
  list-style: url(./ikonky/odrazka.svg);
  padding-left: 22px;
}
.section-1__obal-obrazku {
  display: block;
  aspect-ratio: 672 / 520;
}
.section-1__obal-obrazku > img {
  display: block;
  border-radius: 32px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  max-width: 700px;
}
.section-2__loga-obal {
  text-align: center;
}
.section-2__loga-obal > svg {
  padding: 2em 1.5em 2em 1.5em;
}
.section-2 {
  border-top: 2px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.section-3__krouzek{
  position: relative;
  display: inline-block;
}
.section-3__krouzek > .ikonka{
  position: absolute;
  left: 40px;
  top: 40px;
}
@media screen and (max-width: 470px) {
  .header-kontaktik {
    display: none;
  }
}
@media screen and (max-width: 829px) {
}

@media screen and (min-width: 830px) {
  .section-1 {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }
}
