
  body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
a{
    text-decoration: none;
    display: block;
    width: 100%;
    
    color: black;
}
h2{
  text-align: center;
  font-size: 32px;
  font-weight: 800;
}
.text-oranzova{
  color:var(--orange);
}
.zarovnani-vlevo{
  text-align: left;
}
section{
  margin: 1.5em;
}
.bold{
  font-weight: bold;
}
.bolder{
  font-weight: 800;
}
.schovanej-nadpis{
  position: absolute;
  left: -999999999999999999999999999px;
}
.sekce-schovanej-nadpis{
  position: relative;
}